Package: chonos-task
Version: 1.1.0
Priority:
Architecture: all
Essential:
Depends: chonos-log (>= 1.3)
Pre-depends: inotify-tools
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts:
Replaces:
Provides:
Description: ChonOS Task Manager Service 
