Package: chonos-task
Version: 1.1.1
Priority:
Architecture: all
Essential:
Depends: chonos-log (>= 1.5.5)
Pre-depends: inotify-tools
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts:
Replaces:
Provides:
Description: ChonOS Task Manager Service 
