[Unit]
Description=ChonOS Task Manager
After=network.target

[Service]
ExecStart=/bin/sh /usr/bin/chonos-task --start
ExecStop=/bin/sh /usr/bin/chonos-task --stop
User=root
WorkingDirectory=/root
Restart=always

[Install]
WantedBy=multi-user.target